* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #03020b;
}

::selection {
    background-color: #ff0054;
    color: black;
}